
h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .registerPage{
    width: 90%;
    max-width: 450px;
    align-items: center;
    margin: 0 auto;
    padding: 15svh 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #c56ef097;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  
  label {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
  }
  
  input[type="email"],input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    background-color: #3a2e3d;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
        cursor: pointer;
  }
  
  button:hover {
    background-color: #ac44ac;
  }
  .fullScreen {
    background-image: url('../../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  h5{
    text-align: right;
    margin-top: 15px;
    color: white;
  }
  h5:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  input::placeholder {
    color: #d4cece;
    font-size: 12px;
  }

  .login{
    text-align: right;
    font-size: 14px;
    color: white;
    padding: 8px;
    padding-top: 10px;

  }
  .login:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  
  .text-danger{
    font-size: 10px;
    font-weight:300;
    color: red;
  }